:root {
	--primary: #000000;
	--blue: #7992b4;
	--yellow: #d5a900;
	--red: #e02a2a;
	--breakpoint: 695px;
	--roundness: 4px;
	--white: #e8e8d0;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--white);
	font-size: 14pt;
}

article, section {
	margin: 0;
}

section {
	padding: 1rem 1rem 3rem;
}

a, a:visited {
	text-decoration: none;
	color: var(--yellow);
	font-weight: bold;
	transition: color .5s;
}

a:hover {
	color: var(--red);
}

.grow {
	flex-grow: 1;
}

h2 {
	font-size: 50pt;
	margin: 1rem 0 2rem;
	color: var(--yellow);
	text-shadow: 1px 3px var(--red), 3px 5px black;
}

@media (max-width: 695px) {
	h2 {
		font-size: 40pt;
	}
}

h3 {
	font-size: 20pt;
	margin: 0;
	color: var(--yellow);
	text-shadow: 1px 1px var(--red), 2px 3px black;
}

.btn {
	border: 0;
	border-radius: 3px;
	padding: .5rem 1.5rem;
}

.btn:hover {
	/*background: rgba(75, 162, 162, 0.07);*/
	background: var(--yellow);
}

.btn:active {
	transform: translateY(2px);
}
